*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
min-height: 100vh;
    display: flex;
    flex-direction: column;
}   
header{
    flex: 0 0 60px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main{
    flex: 1;
    flex-basis: calc(100vh - 120px)
}
footer{
    flex: 0 0 60px;
    background-color: #505050;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* ------------------ESTILOS PARA LOS ARTICLES persona------------------ */

.nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.staff{
    width: 100%; /* cada artículo ocupa el 100% del ancho del contenedor */
    flex: 0 0 800px; /* cada artículo ocupa un espacio fijo de 300px */
    background-color: #f4f4f4;
    margin: 10px; /* espacio respecto el  titulo */
    padding: 20px; /* espacio interno */
    border-radius: 5px; /*redondeo el contenedor*/
    text-align: center; /*alineación del texto*/
    display: flex; /*para centrar el contenido*/
    justify-content: space-around; /*espacio entre el contenido*/
}

.persona {
    flex: 0 0 25%; /* cada persona ocupa un espacio fijo de 25% del contenedor padre STAFF */
    display: flex; /*para centrar el contenido*/
    flex-direction: column; /*para organizar el contenido en columna*/
    align-items:center; /*para centrar el contenido en el EJE X*/
    justify-content: center; /*para centrar el contenido en el EJE Y*/

    border:solid 1px black; /*borde del contenedor*/
    border-radius: 5px; /*redondeo del contenedor*/
}

.foto{
    width: 80px; /*ancho fijo para un redondeo circular*/
    height: 80px; /*la altura es fija */
    border-radius: 50%; /*redondeo de la foto al 50% para hacerla circular*/
    background-color: steelblue; /*color de fondo para la foto*/
    margin-bottom: 3em; /*espacio entre la foto y el nombre*/
}
